body{
    background-image: url("image/fon.jpg");
}
#todo{
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff2e;
    margin: auto;

}
h1{
    padding: 2vh;
    min-height: 37px;
    margin: auto;
    background-color: darkorchid;
    color: white;
    text-align: center;
    font-style: italic;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#input_add {
    display:flex;
    margin: auto;
    padding: 1vh 2vh;
       background-color: #eee1f34d;
    overflow: auto;
    justify-content: center;
}
#list{
    margin:auto;
    padding: 1vh 2vh;
    background-color: #eee1f34d;
    min-width: 470px;
}

#inputarea {
    position: relative;
    width:50%;
    margin-right:5px;
    margin-left:8px;
}
#addButton{
    position: relative;
    margin-right:5px;
    float: right;
}

button{
    float: right;
    display: inline-block;
    padding: 0 3px;
}
p{
    background-color: beige;
    margin: 3px;
    padding: 0 0 0 2px;
    border: 2px solid #dcdcdc7d;
}
p:hover{
    border: 2px solid #b44848d9;
}


